@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

/* Universal CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Body Style */

body {
  font-family: "Space Grotesk", sans-serif;
  /* background-color: var(--bg-body); */
  color: var(--color-dark); /* Default App Text Color */
  max-height: 500px;
  width: 100%;
}

/* Colors */
:root {
  --color-white: #ffffff;
  --bg-body: #f1f4f8;
  --color-purple: #793ef5;
  --color-light-purple: #665fef33;
  --color-X: #72f500;
  --color-dark: #1e1e1e;
  --color-orange: #ffc33f;
  --color-red: #fb5159;
  --color-blue: #2153ff;
  --color-gray-med: #e2e6eb;
  --color-gray-dark: #cecece;
}
